# In-kernel NFS server. The upstream sunxi defconfig only enables NFS *client*
# (CONFIG_NFS_V*) which is what nfsroot needs; we additionally serve /srv/media
# and /srv/services to the LAN, so we need CONFIG_NFSD too. Both V3 and V4 are
# enabled — V3 because that's what U-Boot's nfsroot speaks, V4 because that's
# what most modern clients prefer.

CONFIG_NFSD=y
CONFIG_NFSD_V3=y
CONFIG_NFSD_V3_ACL=y
CONFIG_NFSD_V4=y
